html, body {
    height: 100fr;
    margin: 0;
    padding: 0;
}
body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
}
.main-content {
    flex-grow: 1;
}
h1 {
    margin: 0;
}
header{
    margin-top: 0;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/**************Hizkuntzen Menua**************/
.Hizkuntzak {
    position: absolute;
    top: 120px;
    right: 0;
    margin-top: 10px;
}
.I2 {
    position: absolute;
    top: 10px;
    right: 0;
    margin-top: 190px;
}
.I2 img {
    width: 40px;
    height: 40px;
}


.Hizkuntzak a {
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.Hizkuntzak img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/******************Logoaren formatua***************/
.logo {
    margin-left: 20px;
}

.logo img {
    width: 100px;
}
.logo img {
    text-align: center;
    padding: 15PX;
    text-align: center;
    display: flex;
}
nav {
    background-color: rgb(114, 114, 114);
    text-align: center;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

/***************Menuarentzeko estiloak*****************/
nav a {
    color: #fff;
    text-decoration: none;
}
/***Agrega estilos para el desplegable***/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/**************Textuaren colorea aldatzen du goitikan pasatzerakoan*************/
nav a:hover {
    color: #003099;
    text-decoration: none;
}

/*****************Index txartelen estiloa******************/
.card {
    position: relative;
    width: 500px;
    height: 300px;
    background-color:  #a3448b ;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 50px;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #00000080;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card img {
    width: 500px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(65, 15, 204, 0.774);
}

.card__contentIN {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color:  #f6eef5;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 100ms;
}
.card:hover .card__contentIN {
    transform: rotateX(0deg);
}
.card__title  {
    margin: 0;
    font-size: 24px;
    color: black;
    font-weight: 700;
}
.card:hover img {
    scale: 0;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #000000;
    line-height: 1.4;
}

h2 {
    margin-left: 20px;
}

/*************************Zerbitzuak Txartelak********************/

/***********HEADING**************** */
.heading {
    text-align: center;
}
.heading__title {
    font-weight: 600;
}
.heading__credits {
    margin: 10px 0px;
    color: #888888;
    font-size: 25px;
    transition: all 0.5s;
}
.heading__link {
    text-decoration: none;
}
.heading__credits .heading__link {
    color: inherit;
}
.main-container {
    padding: 30px;
}
/******CARDS*********/
.cardZ {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardZ0 {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}
.cardZ0:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}
.card__icon {
    position: absolute;
    text-decoration: none;
    width: 50px;
    color: rgba(255, 255, 255, 0.9);
}
.card__iconv { /*Salmenten kudeaketa estilo propioa*/
    position: absolute;
    text-decoration: none;
    width: 70px;
    color: rgba(255, 255, 255, 0.9);
}
.card__icon {
    grid-row: 1/3;
    font-size: 30px;
}
.card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
}
.card__text {
    grid-row: 4/5;
    align-self: center;
    color: white;
}

    /********CARD BACKGROUNDS*************/
.cardZ1 {
    background: radial-gradient(#000000, #7f8385);
}
.cardZ2{
    background: radial-gradient(#000000, #7f8385);
}
.cardZ3 {
    background: radial-gradient(#000000, #7f8385);
}
.cardZ4 {
    background: radial-gradient(#000000, #7f8385);
}
.cardZ5 {
    background: radial-gradient(#000000, #7f8385);
}
.cardZ6 {
    background: radial-gradient(#000000, #7f8385);
}
/*************RESPONSIVE****************/
@media (max-width: 1600px) {
    .cardZ {
    justify-content: center;
    }
}


/************************Ezaugarri Txartelak*************************/

.container2{
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container2 .card2{
    position: relative;
    cursor: pointer;
    margin: 50px;
}
/**Argazkiak justifikatzen ditu erdira***/
.card2 .content img{
    display: block;
    margin: 0 auto;
}

.container2 .card2 .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container2 .card2 .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container2 .card2:hover .face.face1{
    background: #915399;
    transform: translateY(0);
}

.container2 .card2 .face.face1 .content{
    opacity: 1;
    transition: 0.5s;
}

.container2 .card2:hover .face.face1 .content{
    opacity: 1;
}

.container2 .card2 .face.face1 .content img{
    max-width: 100px;
}

.container2 .card2 .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container2 .card2 .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container2 .card2:hover .face.face2{
    transform: translateY(0);
}

.container2 .card2 .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container2 .card2 .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container2 .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

/*****************Abantailen Txartelen estiloa*****************/

.container3{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.container3 .card3{
    position: relative;
    cursor: pointer;
    margin: 50px;
}
/**Argazkiak justifikatzen ditu erdira**/
.card3 .content img{
    display: block;
    margin: 0 auto;
}

.container3 .card3 .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container3 .card3 .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container3 .card3:hover .face.face1{
    background: #915399;
    transform: translateY(0);
}

.container3 .card3 .face.face1 .content{
    opacity: 1;
    transition: 0.5s;
}

.container3 .card3:hover .face.face1 .content{
    opacity: 1;
}

.container3 .card3 .face.face1 .content img{
    max-width: 100px;
}

.container3 .card3 .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container3 .card3 .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container3 .card3:hover .face.face2{
    transform: translateY(0);
}

.container3 .card3 .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container3 .card3 .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container3 .card3 .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

/*****************Guri Buruz Atala****************************/


.sobre-nosotros {
    background-color: #f8f8f8;
    padding: 40px;
}

.sobre-nosotros .contenido {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.sobre-nosotros h2 {
    color: #333;
    font-size: 2em;
}

.sobre-nosotros p {
    color: #555;
    font-size: 1.2em;
    line-height: 1.6;
}

.sobre-nosotros img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

/**********************Harreman atala*******************/
#F1 {
    max-width: 600px;
    width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 8px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    background-color: #8b4caf;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #756bcf;
}


/************Erregistro ATALA**********/
#containerR{
    max-width: 600px;
    width: 900px !important;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin: 10px 0 5px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 20px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"],input[type="reset"] {
    background-color: #8b4caf;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"],input[type="reset"]:hover {
    background-color: #756bcf;
}

/******Hasi saioa*********/

.login-container {
    width: 100%;
    text-align: center;
    max-width: 600px;
    width: 900px !important;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}
h2 {
    color: #333;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {   
    background-color: #8b4caf;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #756bcf;
}



/***********Footer Estiloak********** */
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
#rest {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}
.button {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.2);
}
.gmail-button {
    background-color: #000000;
}

.instagram-button {
    background-color: #000000;
}
.button img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/***Footer Social Media***/
.tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
}

.tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
    border-top-color: #262626;
}
.social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
}